
     <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Mon Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addArticle">Ajouter un article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addCategory">Ajouter une categorie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editCategory">modifier une categorie</a>
        </li>
                  
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

    {% if user %}
      <a name="" id="" class="btn btn-primary m-1" href="/users/dashboard" role="button">Dashboard</a>
    <a name="" id="" class="btn btn-secondary m-1" href="/users/logout" role="button">Logout</a>
    {% else %}
      <a name="" id="" class="btn btn-primary m-1" href="/users/login" role="button">login</a>
    <a name="" id="" class="btn btn-secondary m-1" href="/users/signup" role="button">SingUp</a>
    {% endif %}
    
  </div>
</nav>
</header>
