{% extends "layout.twig" %}

{% block body %}
    
    <h1> Reset Password </h1>
         {% if errorForm %}
  <p class="text-danger">il ya une erreur. </p>
  <ul class='errors'>
    {% for error in errorForm %}   
      {% if error.password %}
        <li>{{error.password.message}}</li>
      {% endif %}
       {% if error.passwordConfirm %}
        <li>{{error.passwordConfirm.message}}</li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
<form class="row g-3" action='' method='POST'>
  <div class=" form-group">
    <label for="inputPassword2" class="">Password</label>
    <input type="password" value="password"  name="password" class="form-control" id="password" placeholder="Password">
  </div>
<div class=" form-group">
    <label for="inputPassword2" class="">Password confirm</label>
    <input type="password" value="password"  class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Password">
  </div>
    <button type="submit" class="btn btn-primary mb-3">reinitialiser le MdP</button>
 
</form>


{% endblock %}